body {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  padding: 25px 0;
}

.navbar-nav .nav-link,
.navbar-brand {
  color: white;
}

.nav-link {
  font-size: 18px;
}

.navbar-brand {
  font-size: 37px;
}

/* Hero */

.container-main {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
}

.hero {
  padding: 100px 0;
  margin-left: 43%;
  color: white;
}

.hero-title {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.hero-subtitle {
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero-plan {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 55px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.37);
}

/* Adventures and Activities */

.container-blue {
  background-color: #17c3b2;
}

.container-deals {
  background-color: #f5f5f5;
}

.adventure,
.destinations,
.news,
.deals {
  padding: 70px 0;
  margin: 0 10%;
}

.destinations-title,
.news-title,
.deals-title,
.adventure-title {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  padding: 0px;
}

.adventure-title {
  color: white;
}

.adventure-subtitle,
.destinations-subtitle {
  font-size: 22px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-box {
  padding-top: 70px;
}

.grid-tour,
.grid-togo {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-gap: 30px;
  align-items: center;
  text-align: center;
}

.grid-tour p {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid-tour img {
  width: 50%;
  height: 50%;
}

.grid-tour h3 {
  color: white;
}

/* To go */

.grid-togo h3 {
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.country {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid-togo p {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.price {
  color: #17c3b2;
}

.text1,
.text2,
.text3,
.text4 {
  margin-top: 90%;
  margin-bottom: 0;
  padding: 20px;
}

.cali {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 20.33%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/cali.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 30px;
}

.mallorca {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 20.33%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/mallorca.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 30px;
}

.zurich {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 20.33%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/zurich.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 30px;
}

.lago-como {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 20.33%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/images/lago-como.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 20px;
}

/* News and blog */

.grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row: 2;
  grid-gap: 30px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.side-articles {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, 0.1fr);
  grid-gap: 30px;
}

.article {
  padding: 0;
}

.article-image {
  width: 100px;
  border-radius: 10px;
}

.main-image {
  width: 100%;
  border-radius: 15px;
}

.category {
  margin: 10px 10px 0 0;
  color: #17c3b2;
  font-weight: bold;
  font-size: 18px;
}

.title {
  font-size: 28px;
}

.description {
  font-size: 20px;
  line-height: normal;
}

.article h2 {
  font-size: 18px;
  font-weight: bold;
}

.date {
  color: #17c3b2;
  font-weight: bold;
  font-size: 16px;
  margin: 14px 0;
}

.article-title {
  font-size: 18px;
}

.links-articles {
  font-size: 20px;
  color: #17c3b2;
}

/* Deals and Discounts */

.grid-deals h3 {
  font-size: 20px;
}

.grid-deals1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 360px;
  grid-gap: 30px;
}

.grid-deals2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 360px;
  grid-gap: 30px;
}

.price-deals {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.italy {
  background-image: url(/images/italy.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.thailand {
  background-image: url(/images/thailand.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.madrid {
  background-image: url(/images/madrid.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hong-kong {
  background-image: url(/images/hong-kong.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.abu-dhabi {
  background-image: url(/images/abu-dhabi.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-deals {
  padding: 260px 20px;
}

.text-deals h3 {
  font-size: 20px;
  font-weight: bold;
}

/* deals2 */

.grid-deals0 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 360px 360px;
  grid-gap: 30px;
}

.text-deals0 {
  padding: 260px 20px;
}

.text-deals0 h3 {
  font-size: 20px;
}

.italy0:nth-child(1)  {
  grid-column: span 2;
}

.italy0 {
  background-image: url(/images/italy.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.thailand0 {
  background-image: url(/images/thailand.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.madrid0 {
  background-image: url(/images/madrid.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hong-kong0 {
  background-image: url(/images/hong-kong.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.abu-dhabi0 {
  background-image: url(/images/abu-dhabi.png);
  background-size: cover;
  background-position: center;
  color: #17c3b2;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
